/*----------------------------------------------------------
The base color for this template is #f2f5f5. If you'd like
to use a different color start by replacing all instances of
#f2f5f5 with your new color.
----------------------------------------------------------*/
body
{
    background-color: #f2f5f5;
    font-size: 62.5%;
    font-family: Verdana, Helvetica, Arial, Trebuchet MS, Tahoma, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #353535;
    line-height: 1.6em;
}

a:link
{
    color: #003366;
    text-decoration: none;
    outline: none;
}
a:visited
{
    color: #003366;
    text-decoration: none;
}
a:hover
{
    color: #b39235;
    text-decoration: none;
}
a:active
{
    color: #b39235;
    text-decoration: none;
}
a img {border: none; outline: none;}

p, ul, li
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

ul {margin: 0 0 20px; padding: 0px;}

li {list-style: none;}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #A1251B;
    font-weight: bold;
}

h1, .h1 {font-size: 2em; padding-bottom: 0; margin-bottom: 0;}
h2, .h2 {font-size: 1.5em; padding: 0 0 10px 0;}
h3, .h3 {font-size: 1.2em;}
h4, .h4 {font-size: 1.1em;}
h5, h6, .h5, .h6 {font-size: 1em;}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

#branding {background: url(../Images/branding.jpg) repeat-x top center; height: 65px; margin: 0 auto; padding: 0 10%; min-width: 900px;}
#branding span.logos {padding: 22px 0px 0px 0px; width: 600px; float: right; margin: 0px auto; display: block; text-align: right;}
#branding span.ucdavis {margin-right: 5px;}
#title {padding: 24px 0px 0px 0px; width: 300px; float: left; text-align: left;}

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1em;
}

#header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

#header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #f2f5f5;
    border: none;
    font-size: 3.2em;
    text-shadow: 3px 2px 8px #AAAAAA;
    float: right;
}

#main
{
    padding: 30px 0px 15px 0px;
    margin-bottom: 30px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscrore */
}

#footer
{
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset label 
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input[type="text"] 
{
    width: 100px;
    font-size: 1.4em; padding: 5px;
    border: 1px solid #CCC;
}
input#CurrentWorkingTitle, input#ProposedWorkingTitle {width: 280px;}
select 
{
    border: 1px solid #ccc; color: #333;
    font-size: 1em; padding: 7px;
}

option {padding: 2px 10px 2px 2px;}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

fieldset li {font-size: 1.2em;}
fieldset li:hover {background: #fff; background: rgba(255,255,255,.7);}

fieldset li span , fieldset li label
{
    font-weight: bold; text-transform: uppercase; 
    font-size: .65em; letter-spacing: 1px; 
    display: block; padding: .25em 1em .25 0; 
    width: 180px; color: #002266;
}

textarea#Comment {height: 8em; width: 350px;}

input.save {margin: 2em 1em;}

li.button:hover {background: transparent;}
.button input {background: transparent; border: 0px none;}
.button input, .button a {font-size: 12px; background: #716e65; -moz-border-radius: 8px; -webkit-border-radius: 8px; color: #fff; font-weight: bold; padding: 6px 12px 2px;}
.button input:hover, .button a:hover {cursor: pointer; color: #eee; background: #15395b;}


/* TABLE
----------------------------------------------------------*/

table 
{
  border-collapse: collapse;
    -moz-border-radius-topleft: 18px; 
    -webkit-border-top-left-radius: 18px;
    -moz-border-radius-topright: 18px; 
    -webkit-border-top-right-radius: 18px;
    -moz-box-shadow: 0px 0px 18px #dedede;
}

table td 
{
  padding: 12px 1em 5px;   
  border: solid 1px #e8eef4;
}

table thead {border-bottom: double 5px #002266;}

table th
{
  padding: 26px 5px 10px;
  text-align: left;
  background-color: #fff; 
  vertical-align: bottom;
  border-bottom: double 5px #002266;
}

table .t-alt {background: #fff; background: rgba(255,255,255,.5);}

table tr:hover {background: #fff; background: rgba(255,255,255,.9);
    -moz-box-shadow: 0px 0px 18px #dedede;}

/* MISC  
----------------------------------------------------------*/
.clear {clear: both;}
.error {color:Red;}
.Changed {background-color: #f3df00 !important;}

#menucontainer
{
    margin-top:40px;
}

div#title
{
}

#menu {margin-top: -4px;}

#logindisplay
{
    font-size:1em;
    float: right;
    text-align:right;
    margin: -27px 10px 0px;
    padding: 10px 20px 10px;
    color:#002266;
    -moz-border-radius-bottomleft: 18px; 
    -webkit-border-bottom-left-radius: 18px;
    -moz-border-radius-bottomright: 18px; 
    -webkit-border-bottom-right-radius: 18px;
    -moz-box-shadow: 2px 2px 8px #dedede;
    background: #fff;
    background: rgba(255, 255, 255, .7);
}

#logindisplay:hover {background: rgba(255, 255, 255, 1); -moz-box-shadow: 2px 2px 5px #dedede;}

#logindisplay a:link
{
    color: #002266;
    text-decoration: none;
}

#logindisplay a:visited
{
    color: #002266;
    text-decoration: none;
}

#logindisplay a:hover
{
    color: #002266;
    text-decoration: none;
}

.field-validation-error
{
    color: #ff0000;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}


/* SPECIFIC  
----------------------------------------------------------*/

.switch-view, .switch-units {width: 50%; float: left; padding: 0 0 1em;}
.switch-units {text-align: right;}

#EligibilityList {clear: both;}

.t-footer .t-link, .t-footer .t-state-active {float: left; font-weight: bold; font-size: .9em; padding: 5px 1em;}
.t-footer .t-state-active {color: #aaa;}
.t-footer .t-pager {width: 50%; float: left;}
.t-status-text {clear: both; text-align: right;}

.col {width: 40%; margin: 0 10% 0 0; float: left;}

.review-left, .review-right {width: 40%; float: left;}
.review-left .h2, .review-right .h2 {font-weight: bold; color: #003666; margin-top: -.25em;}

#review-section {border: 5px solid #aaa; padding: 2em; margin: 0 0 2em 0;}
#review-section label {font-weight: bold; font-size: 1.15em; color: #003666;}
#review-section input {margin: 0.5em .25em;}
#review-section #reviewAction_Approve_Label {margin-right: 2em;}
