*.dbmdl
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.xlsx
*.xls
*.csv
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
/VS2010 version
/.vs
UpgradeLog*
#ignore *.dtbcache
*.dtbcache.json

#ignore packages because Git os supposed to restore them.
/packages

#ignore rosylyn
/EligibilityList/bin/roslyn*

#ignore Backup files
/Backup*

#ignore published website files:
/EligibilityList/bin/app.publish

obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
!Bin/
WebSite/connectionStrings.config

/EligibilityList/appSettings.config
/EligibilityList/connectionStrings.config
/WebSite/connectionStrings.config
/WebSite/appSettings.config
/EligibilityList/bin/EligibilityList.dll
/EligibilityList/bin/EligibilityListBLL.dll
/EligibilityList/bin/EligibilityList.dll.config
