<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
		</sectionGroup>
	</configSections>
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
			<property name="proxyfactory.factory_class">NHibernate.ByteCode.Spring.ProxyFactoryFactory, NHibernate.ByteCode.Spring</property>
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
			<property name="connection.connection_string_name">MainDB</property>
			<property name="default_schema">EL.dbo</property>
			<property name="generate_statistics">true</property>
			<property name="adonet.batch_size">25</property>
			<!-- HBM Mapping Files -->
			<mapping assembly="EligibilityList.Core"/>
		</session-factory>
	</hibernate-configuration>
	<appSettings>
		<add key="CatbertUserService" value="https://url.caes.ucdavis.edu/catbert3/Management/UserManagement.aspx?app=EligibilityList"/>
		<add key="ReportServer" value="http://devreports.caes.ucdavis.edu/reportserver"/>
	</appSettings>
	<connectionStrings>
		<add name="MainDB" connectionString="Data Source=vogel;Initial Catalog=EL;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="CATBERT" connectionString="Data Source=vogel;Initial Catalog=CATBERT3;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="RATBERT" connectionString="Data Source=vogel;Initial Catalog=RATBERT;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<elmah>
    <security allowRemoteAccess="yes" requirePermission="true" />
		<errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="RATBERT" applicationName="EligibilityList"/>
		<errorMail from="srkirkland@ucdavis.edu" to="srkirkland@ucdavis.edu" subject="ELMAH EligibilityList web error response" smtpServer="smtp.ucdavis.edu"/>
	</elmah>
	<system.web>
		<machineKey validationKey="A3563DE5ED849348CADD5C6B7C08068D46C98CD028A3130257532E2FC5BC076CE9A7B97A83E5577C3AA4F22DCCF21F51DDD05A677552D0FEDF0A0FC06FE5F141" decryptionKey="EFDFBEA55F9FE48FC353CE77C1452D149D5E83F5D8069ADAC61D739DF5060914" validation="SHA1" decryption="AES"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
    -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL"/>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
    -->
		<authentication mode="Forms">
			<forms loginUrl="~/Account/LogOn" defaultUrl="~/" timeout="2880"/>
		</authentication>
		<roleManager enabled="true" defaultProvider="CatbertRoleProvider" cacheRolesInCookie="false">
			<providers>
				<add name="CatbertRoleProvider" type="UCDArch.Web.Providers.CatbertRoleProvider" applicationName="EligibilityList" description="EligibilityList" connectionString="CATBERT"/>
			</providers>
		</roleManager>
		<authorization>
			<allow users="*"/>
			<deny users="?"/>
		</authorization>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->
		<customErrors mode="RemoteOnly" defaultRedirect="Home/Error">
		</customErrors>
		<pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Ajax"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Routing"/>
				<add namespace="System.Linq"/>
				<add namespace="System.Collections.Generic"/>
				<add namespace="MvcContrib.FluentHtml"/>
				<add namespace="EligibilityList.Helpers"/>
				<add namespace="EligibilityList.Controllers"/>
				<add namespace="Microsoft.Web.Mvc"/>
				<add namespace="xVal.Html"/>
			</namespaces>
		</pages>
		<httpHandlers>
			<add verb="POST,GET,HEAD" path="Errors.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
			<add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL"/>
		</httpHandlers>
		<httpModules>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
		</httpModules>
	</system.web>

  <location path="Errors.axd">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
	<system.web.extensions/>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true">

      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
      
		</modules>
		<handlers>
			<remove name="MvcHttpHandler"/>
			<remove name="UrlRoutingHandler"/>
			<add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL"/>
      <add name="Elmah" verb="POST,GET,HEAD" path="Errors.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
		</handlers>
	</system.webServer>
	<runtime><assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"><dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly></assemblyBinding></runtime></configuration>
